* {
    margin: 0;
    padding: 0;
    border: 1px solid #000;
}

section {
    height: 100vh;
}

header .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#rbcLogo {
    height: 50px;
}

.jumbotron {
    /* background-color: #777; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.jumbotron .jumbotron-content {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.jumbotron .jumbotron-content h1 {
    font-size: 100px;
}

.jumbotron .jumbotron-content p {
    padding-left: 5px;
}

.who-we-are .row,
.sunday-gatherings .row {
    margin-top: 20px;
}